body {
    background-image: url('IMG_2503.JPG');
    background-color: rgb(44, 44, 100);
    margin: 0;
}

.title {
    font-size: xx-large;
    text-align: center;
    color: aliceblue;
    display: inline-block;
    width: 80%;
    margin-bottom: 0;
    margin-top: 3px;
    vertical-align: top;
    font-size: 80px;
}

.main {
    width: 100px;
    display: inline-block;
}

.header {
    background-color: rgb(21, 10, 31);
}

/* -------- CSS SECTION FOR GIZMO -------- */

.gizmo-div {
    width: 596px;
    display: inline-block;
    margin-left: 3%;
}

.gizmoTitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: brown;
    font-size: xx-large;
}

.gizmoPic {
    display: inline-block;
    width: 500px;
    margin-left: 8%;
}

.stud-title {
    background-color: rgb(21, 10, 31);
    opacity: 0.5;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 95%;
    border-radius: 7px;
    margin-left: 15px;
}

.gizmo-p-text {
    padding-left: 30px;
    color: white;
} 
/* -------- END CSS SECTION FOR GIZMO -------- */

/* -------- START CSS SECTION FOR BELLA -------- */

.bella-div {
    width: 596px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}

.bellaTitle {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: brown;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bellaPic {
    display: inline-block;
    width: 500px;
    padding-left: 50px;
}

.lady-title {
    background-color: rgb(21, 10, 31);
    opacity: 0.5;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 95%;
    border-radius: 7px;
    margin-left: 15px;
}

.bella-p-text {
    padding-left: 30px;
    color: white;
}

/* -------- END CSS SECTION FOR BELLA -------- */


.nav {
    display: inline-block;
    width: 40%;
    background-color: coral;
}

.footer {
    display: flex;
    justify-content: center;
}